@charset "UTF-8";
@use "settings" as *;
@use "utility" as *;
@use "core" as *;

.top-index-content {
  margin-bottom: 60px;
  .first-img {
    width: calc(100% - 460px);
    .img-box {
      & > img {
        width: 100%;
      }
    }
    @media only screen and (max-width: $screen-tb) {
      width: calc(100% - 60px);
    }
  }
}

.sec-box {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  .ttl-box {
    writing-mode: vertical-lr;
    & > h3 {
      margin-right: 5px;
    }
  }
  .content-box {
    width: 83%;
    .search-box {
      border-top: 1px solid $secondary;
      border-bottom: 1px solid $secondary;
      padding: 25px 0;
      display: flex;
      align-items: center;
      .item-box {
        width: 25%;

        & > label {
          text-align: left;
          display: block;
          margin-bottom: 10px;
        }

        & > input {
          font: {
            size: 2.5rem;
            family: $base-f-family;
          }
          color: $primary;
          line-height: 1;
          border: 0;
          background: unset;
          width: 100%;
          &:focus {
            outline: none;
          }
        }
        & > select {
          font-size: 1.8rem;
          color: $primary;
          width: 50px;
          height: 36px;
          border: 0;
          background: unset;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
  &.-change {
    flex-direction: row-reverse;
    .ttl-box {
      writing-mode: vertical-rl;
      & > h3 {
        margin-right: 0;
        margin-left: 5px;
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    flex-wrap: wrap;
    .ttl-box {
      width: 100%;
      writing-mode: inherit;
      flex-direction: column;
      margin-bottom: 30px;
      & > h3 {
        margin-right: 0;
      }
    }
    .content-box {
      width: 100%;
      .search-box {
        flex-wrap: wrap;
        gap: 20px;
        & > .item-box {
          width: calc(50% - 10px);
          & > input {
            font-size: 2rem;
          }
          & > select {
            font-size: 1.6rem;
          }
        }
      }
    }
    &.-change {
      .ttl-box {
        writing-mode: inherit;
        & > h3 {
          margin-left: 0;
        }
      }
    }
  }
}

.top-about {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 300px;
  .l-box {
    margin-right: -60px;
    position: relative;
    z-index: 2;
    transform: translateY(190px);
    .txt-box {
      background: #fff;
      writing-mode: vertical-rl;
      padding: 50px;
      .txt {
        line-height: 2;
        letter-spacing: 0.3em;
        margin-right: 20px;
      }
    }
  }
  .r-box {
    width: calc(50% + 160px);
    & > .img-box {
      & > img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    padding-bottom: 0;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    .l-box {
      width: 100%;
      transform: translateY(-30px);
      margin-right: 0;
      padding: 0 30px;
      .txt-box {
        width: 100%;
        writing-mode: unset;
        padding: 30px;
        .txt {
          line-height: 2;
          letter-spacing: 0.1em;
        }
      }
    }
    .r-box {
      width: 100%;
    }
  }
}

.top-room {
  .room-content {
    display: flex;
    & > .item {
      width: 50%;
      position: relative;
      cursor: pointer;
      .img-box {
        padding-bottom: 80%;
        position: relative;
        overflow: hidden;
        &:after {
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(#000, 0.6);
          position: absolute;
          top: 0;
          left: 0;
        }
        & > img {
          width: 100%;
          height: 100%;
          position: absolute;
          object-fit: cover;
          transition: 0.3s;
        }
      }
      .txt-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 0 20px;
        text-align: center;
        color: #fff;
        & > .en-ttl {
          font-family: $f-lora;
          margin-bottom: 5px;
        }
        & > .ttl {
          font-size: 3rem;
          letter-spacing: 0.1em;
        }
      }
      @media only screen and (min-width: $screen-pc-min) {
        &:hover {
          .img-box {
            & > img {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    .room-content {
      & > .item {
        .txt-box {
          & > .ttl {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-sp) {
    .room-content {
      flex-wrap: wrap;
      & > .item {
        width: 100%;
      }
    }
  }
}

.top-meal {
  padding: 200px 0 17%;
  @media only screen and (max-width: $screen-tb) {
    padding: 100px 0 17%;
  }
}

.meal-content {
  margin-bottom: 200px;

  .top-img-box {
    position: relative;
    margin-bottom: 100px;

    .img-box {
      &:nth-of-type(1) {
        width: 47%;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 31.25%;
        position: absolute;
      }
      &:nth-of-type(2) {
        top: -50%;
        left: 50%;
        transform: translateX(-50%);
      }
      &:nth-of-type(3) {
        top: 0;
        right: 0;
      }
      & > img {
        width: 100%;
      }
    }
  }
  .txt-box {
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 0 20px;
    .course-list {
      display: flex;
      justify-content: space-between;
      & > li {
        font-size: 1.8rem;
        writing-mode: vertical-lr;
        letter-spacing: 0.25em;
      }
    }
  }
  .bt-img-box {
    padding-bottom: 20%;
    position: relative;
    & > .img-box {
      &:nth-of-type(1) {
        width: 47%;
        margin-left: auto;
        position: relative;
        z-index: 2;
      }
      &:nth-of-type(2),
      &:nth-of-type(3) {
        width: 31.25%;
        position: absolute;
      }
      &:nth-of-type(2) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
      &:nth-of-type(3) {
        top: 50%;
        transform: translateY(-50%);
      }
      & > img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    margin-bottom: 60px;
    .top-img-box {
      margin-bottom: 60px;
    }
    .txt-box {
      margin-bottom: 60px;
    }
  }
}

.top-spa {
  position: relative;
  padding-bottom: 200px;
  .first-img {
    width: calc(100% - 300px);
    margin-bottom: 130px;
    & > img {
      width: 100%;
    }
  }
  .txt-box {
    writing-mode: vertical-rl;
    margin-left: auto;
    &.-sub {
      width: 400px;
      background: #fff;
      padding: 50px;
      margin-left: 0;
      margin-top: -140px;
      .txt {
        line-height: 2;
        letter-spacing: 0.3em;
        margin-right: 20px;
      }
    }
  }
  .spa-img-box {
    margin-top: -75px;
    position: relative;
    padding-bottom: 20%;
    .img-box {
      &:nth-of-type(1) {
        width: 62.5%;
      }
      &:nth-of-type(2) {
        width: 40%;
        position: absolute;
        left: 45%;
        bottom: 0;
      }
      & > img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: $screen-tb) {
    padding-bottom: 100px;
    .first-img {
      width: calc(100% - 60px);
    }
    .spa-img-box {
      margin-bottom: 50px;
    }
    .txt-box {
      &.-sub {
        width: 100%;
        writing-mode: unset;
        margin-top: 0;
        padding: 30px;
        .txt {
          text-align: left;
          letter-spacing: 0.1em;
          line-height: 1.5;
          margin-right: 0;
        }
      }
    }
  }
}
